<div id="demographics-generator" layout="row" layout-align="center stretch" flex>

  <md-sidenav id="md-sidenav-right" class="md-sidenav-right" md-component-id="md-sidenav-right" md-whiteframe="4">
    <div ng-include="vm.settingsTemplate"></div>
  </md-sidenav>

  <section id="main" class="layout-padding-well" flex="75" layout="column" layout-align="start stretch">

    <div class="layout-margin-bottom layout-padding-bottom" layout="row" layout-align="space-between center">
      <div class="setting-actions">
        <md-input-container class="dg-text no-margin-vertical no-padding no-input-spacer layout-margin-right">
          <label></label>
          <input class="md-input-override" ng-model="vm.generatorSettings.settlementName" placeholder="Settlement Name" type="text">
        </md-input-container>

        <md-input-container class="dg-select no-margin-vertical no-padding layout-margin-right">
          <md-select class="no-padding" ng-model="vm.generatorSettings.settlementType" aria-label="Settlement Size">
            <md-option ng-value="'none'" ng-selected="true">Settlement Size</md-option>
            <md-option ng-repeat="settlementSize in vm.localData.settlementSizeSelection"
                       ng-value="settlementSize">{{settlementSize.name}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="dg-select no-margin-vertical no-padding layout-margin-horizontal">
          <md-select class="no-padding" ng-model="vm.generatorSettings.racialMix" aria-label="Racial Mix">
            <md-option ng-value="'none'" ng-selected="true">Racial Mix</md-option>
            <md-option ng-repeat="racialMix in vm.localData.racialMixSelection"
                       ng-value="racialMix">{{racialMix.name}}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <md-button class="md-raised md-primary no-margin" ng-click="vm.generateSettlement()"
            ng-disabled="!vm.generatorSettings.settlementName ||
            vm.generatorSettings.settlementName.length < 1 ||
            vm.generatorSettings.settlementType === 'none' ||
            vm.generatorSettings.racialMix === 'none'">
          generate
        </md-button>
      </div>
    </div>

    <div class="border-top-1 layout-margin-vertical layout-padding-top" layout="column" layout-align="start stretch">
      <div class="border-all-1 layout-padding-well no-margin-bottom layout-margin-top" layout="column"
           layout-align="start stretch"
           md-colors="{'background-color': 'amber-50', 'border-color': 'amber-500'}"
           ng-repeat="settlement in vm.settlement.generated track by $index">
        <div layout="row" layout-align="space-between center">
          <div layout="row" layout-align="start center">
            <div class="layout-margin-right">
              <span class="bold">Settlement Name:</span> {{settlement.settlementName}}
            </div>
            <div class="layout-margin-horizontal">
              <span class="bold">Settlement Type:</span> {{settlement.settlementType.name}}
            </div>
            <div class="layout-margin-horizontal">
              <span class="bold">Racial Mix:</span> {{settlement.racialMix.name}}
            </div>
          </div>
          <div>
            <md-button class="md-raised md-primary no-margin" ng-click="vm.updateSettlement(settlement)">
              update
            </md-button>
            <md-button class="md-raised md-primary no-margin" ng-click="vm.deleteSettlement($index)">
              delete
            </md-button>
          </div>
        </div>

        <div layout="row" layout-align="start center">
          <div class="layout-margin-right">
            <span class="bold">Population:</span> {{settlement.populationCount | number:0}}
          </div>
          <div class="layout-margin-horizontal">
            <span class="bold">Ready Cash:</span> {{settlement.readyCash | number:0}} GP
          </div>
        </div>

        <div layout="row" layout-align="start center">
          <div class="layout-margin-right">
            <span class="bold">Full Time Guards/Soldiers:</span> {{settlement.military | number:0}}
          </div>
          <div class="layout-margin-horizontal">
            <span class="bold">Militia:</span> {{settlement.militia | number:0}}
          </div>
        </div>

        <div layout="row" layout-align="start center"
            ng-repeat="powerCenter in settlement.powerCenters track by $index">
          <div class="layout-margin-right">
            <span class="bold">Power Center:</span> {{powerCenter.powerCenter.name}}
          </div>
          <div class="layout-margin-horizontal">
            <span class="bold">Type:</span> {{powerCenter.powerCenterType.name}}
          </div>
          <div class="layout-margin-horizontal">
            <span class="bold">Alignment:</span> {{powerCenter.alignment.name}}
          </div>
        </div>

        <div class="layout-margin-top" layout="row" layout-align="start start">

          <div class="layout-padding-right" layout="column" layout-align="start stretch" flex="50">
            <div layout="row" layout-align="start center">
              <div class="layout-margin-right">
                <span class="bold">Racial Demographics *:</span>
              </div>
            </div>
            <div layout="row" layout-align="start center">
              <div class="layout-margin-right">
                <span class="layout-margin-left">* Children do not count towards total population.</span>
              </div>
            </div>
            <div ng-repeat="race in settlement.calculatedRacialDemographics track by $index"
                 ng-class="{'layout-margin-top': !$first}" ng-if="race.population.census > 0">
              <!-- Races -->
              <div layout="row" layout-align="start center">
                <div class="layout-margin-right">
                  <span class="bold">{{race.name}}:</span>&nbsp;{{race.population.census}}
                </div>
              </div>

              <!-- Subraces Layout -->
              <div class="layout-margin-left" layout="column" layout="start stretch"
                   ng-repeat="subrace in race.subraces" ng-if="subrace.population.census > 0">
                <div layout="row" layout-wrap>
                  <div class="hint" ng-if="subrace.name !== 'Default'">
                    <span class="hint"><span class="bold hint">{{subrace.name}}</span> ({{subrace.population.census}}):</span>
                  </div>
                  <div class="hint layout-margin-left" ng-repeat="age in subrace.ageCategories"
                       ng-if="age.population.census > 0" md-colors="{'color': 'background-500'}">
                    <span class="hint"><span class="bold hint">{{age.name}}:</span> {{age.population.census}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="layout-padding-left" layout="column" layout-align="start stretch" flex="50">
            <div layout="row" layout-align="start center">
              <div class="layout-margin-right">
                <span class="bold">Class Demographics:</span>
              </div>
            </div>
            <div ng-repeat="class in settlement.calculatedClassDemographics track by $index"
                 ng-class="{'layout-margin-top': !$first}" ng-if="class.population.census > 0">
              <!-- Classes -->
              <div layout="row" layout-align="start center">
                <div class="layout-margin-right">
                  <span class="bold">{{class.name}}:</span>&nbsp;{{class.population.census}}
                </div>
              </div>

              <!-- Subclasses layout -->
              <div class="layout-margin-left" layout="row" layout-wrap>
                <div class="hint layout-margin-left" ng-repeat="level in class.population.levels track by $index"
                     md-colors="{'color': 'background-500'}" ng-if="level.quantity > 0">
                  <span class="hint"><span class="bold hint">Level {{level.level}}:</span> {{level.quantity}}</span>
                </div>
              </div>


            </div>
          </div>

        </div>

      </div>
    </div>

    <!-- TEST DISPLAY AREA. DELETE WHEN DONE -->
    <div class="layout-margin-top layout-padding-well border-all-1"
        md-colors="{'border-color': 'background-500', 'background-color': 'background-50'}">
      <div layout="row" layout-align="start center">
        <div class="layout-margin-right">
          <span class="bold">Test Display Area:</span>
        </div>
      </div>
    </div>


  </section>


  <section id="sidebar" class="layout-padding-well border-left-1" md-colors="{'border-color': 'background-300'}" flex="25">
    <h3>Settings:</h3>
    <!-- <div class="layout-margin-top layout-padding-vertical hint border-bottom-1" md-colors="{'border-color': 'background-300'}"> -->
      <!--Opening any setting will reset the generator.-->
    <!--</div>-->
    <div class="layout-padding-4" layout="row" layout-wrap>
      <!--<div class="layout-padding-4" flex="100" layout="column" layout-align="start stretch">-->
        <!--<md-button class="md-raised md-primary no-margin" ng-click="vm.openSidebar('globalSettings')">global settings</md-button>-->
      <!--</div>-->
      <div class="layout-padding-4" flex="100" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSidebar('tagSettings')">
          tag settings
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSidebar('settlementSettings')">
          settlement
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <!--<md-button class="md-raised md-primary no-margin" ng-click="vm.openSidebar('powerCenterSettings',-->
            <!--{action: 'populateTagFilter', tagType: 'powerCenterType'})">-->
          <!--power ctr-->
        <!--</md-button>-->
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSidebar('powerCenterSettings')">
          power ctr
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSidebar('authoritySettings')">
          authorities
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSidebar('raceSettings',
            {action: 'populateTagFilter', tagType: 'source'})">
          races
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSidebar('alignmentSettings')">
          alignment
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSidebar('racialMixSettings')">
          racial mix
        </md-button>
      </div>
    </div>

    <div class="layout-padding-4 border-top-1" layout="row" layout-wrap md-colors="{'border-color': 'background-300'}">
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="true">
        <md-button class="md-raised md-accent no-margin" ng-click="vm.openSidebar('subraceSettings',
            {action: 'populateTagFilter', tagType: 'source'})">subraces</md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="true">
        <md-button class="md-raised md-accent no-margin" ng-click="vm.openSidebar('ageSettings')">age</md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="true">
        <md-button class="md-raised md-accent no-margin" ng-click="vm.openSidebar('climateSettings')">climate</md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="true">
        <md-button class="md-raised md-accent no-margin" ng-click="vm.openSidebar('terrainSettings')">terrain</md-button>
      </div>
      <!--<div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="vm.appConfigSettings.global.useSocialClass">-->
        <!--<md-button class="md-raised md-accent no-margin" ng-click="vm.openSidebar('socialClassSettings', {-->
        <!--action: 'populateEditArray', object: vm.socialClassSelection})">social cls</md-button>-->
      <!--</div>-->
      <!--<div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="vm.appConfigSettings.global.useProfessions">-->
        <!--<md-button class="md-raised md-accent no-margin" ng-click="vm.openSidebar('professionSettings', {-->
        <!--action: 'populateEditArray', object: vm.professionSelection})">professions</md-button>-->
      <!--</div>-->
    </div>


  </section>
</div>
