<div id="demographics-generator" layout="row" layout-align="center stretch" flex>

  <md-sidenav id="md-sidenav-right" class="md-sidenav-right" md-component-id="md-sidenav-right" md-whiteframe="4">
    <div ng-include="vm.settingsTemplate"></div>
  </md-sidenav>

  <section id="main" class="layout-padding-well" flex="75" layout="column" layout-align="start stretch">

    <div class="layout-margin-bottom layout-padding-bottom" layout="row" layout="space-between center">
      <div>
        <md-input-container class="no-margin-vertical no-padding no-input-spacer layout-margin-right">
          <label></label>
          <input class="md-input-override" ng-model="vm.settlement.settlementName" placeholder="Settlement Name" type="text">
        </md-input-container>

        <md-input-container class="no-margin-vertical no-padding layout-margin-right">
          <md-select class="no-padding" ng-model="vm.settlement.settlementType" placeholder="- Choose Settlement Size -">
            <md-option ng-repeat="settlementSize in vm.localData.settlementSizeSelection"
                       ng-value="settlementSize" ng-selected="settlementSize.name === 'Hamlet'">{{settlementSize.name}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="no-margin-vertical no-padding layout-margin-horizontal">
          <md-select class="no-padding" ng-model="vm.settlement.racialMix" placeholder="- Choose Racial Mix -">
            <md-option ng-repeat="racialMix in vm.localData.racialMixSelection"
                       ng-value="racialMix" ng-selected="racialMix.name === 'Mixed'">{{racialMix.name}}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <md-button class="md-raised md-primary no-margin" ng-click="vm.generateSettlement()"
            ng-disabled="!vm.settlement.settlementName || vm.settlement.settlementName.length < 1">
          generate
        </md-button>
      </div>
    </div>

    <!-- TEST DISPLAY -->
    <!--<div layout="column">-->
      <!--<md-input-container class="no-margin no-padding">-->
        <!--<md-select class="no-padding" ng-model="vm.testDisplay" placeholder="test">-->
          <!--<md-option ng-repeat="arrayName in vm.test" ng-value="arrayName">{{arrayName}}</md-option>-->
        <!--</md-select>-->
      <!--</md-input-container>-->

      <!--<div class="layout-padding-well border-bottom-1" ng-repeat="obj in vm.localData[vm.testDisplay]"-->
           <!--ng-model-options="{trackBy: 'obj.id'}" md-colors="{'border-color': 'background-300'}" layout="column"-->
           <!--layout-align="start stretch">-->
        <!--<div layout="row" layout-align="start center">-->
          <!--<span class="bold">{{obj.name}}</span>: <span class="hint layout-margin-left">{{obj.id}}</span>-->
        <!--</div>-->
        <!--<div class="layout-margin-left" layout="row" layout-wrap>-->
          <!--<div class="hint layout-margin-left layout-margin-top layout-padding-horizontal border-all-1 round-edges" ng-repeat="tag in obj.tags track by $index"-->
               <!--ng-if="obj.tags" md-colors="{'background-color': 'background-50', 'border-color': 'background-300'}">-->
            <!--{{ vm.getTag(tag).name }}-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="border-top-1 layout-margin-vertical layout-padding-top" layout="column" layout-align="start stretch">
      <div class="border-all-1 layout-padding-well no-margin-bottom layout-margin-top" layout="column"
           layout-align="start stretch"
           md-colors="{'background-color': 'amber-50', 'border-color': 'amber-500'}"
           ng-repeat="settlement in vm.settlement.generated track by $index">
        <div layout="row" layout-align="space-between center">
          <div layout="row" layout-align="start center">
            <div class="layout-margin-right">
              <span class="bold">Settlement Name:</span> {{settlement.settlementName}}
            </div>
            <div class="layout-margin-horizontal">
              <span class="bold">Settlement Type:</span> {{settlement.settlementType.name}}
            </div>
          </div>
          <div>
            <md-button class="md-raised md-primary no-margin" ng-click="vm.updateSettlement(settlement)">
              update
            </md-button>
          </div>
        </div>

        <div layout="row" layout-align="start center">
          <div class="layout-margin-right">
            <span class="bold">Population:</span> {{settlement.populationCount | number:0}}
          </div>
          <div class="layout-margin-horizontal">
            <span class="bold">Ready Cash:</span> {{settlement.readyCash | number:0}} GP
          </div>
        </div>

        <div layout="row" layout-align="start center">
          <div class="layout-margin-right">
            <span class="bold">Full Time Guards/Soldiers:</span> {{settlement.military | number:0}}
          </div>
          <div class="layout-margin-horizontal">
            <span class="bold">Militia:</span> {{settlement.militia | number:0}}
          </div>
        </div>

        <div layout="row" layout-align="start center"
            ng-repeat="powerCenter in settlement.powerCenters track by $index">
          <div class="layout-margin-right">
            <span class="bold">Power Center:</span> {{powerCenter.powerCenter.name}}
          </div>
          <div class="layout-margin-horizontal">
            <span class="bold">Type:</span> {{powerCenter.powerCenterType.name}}
          </div>
          <div class="layout-margin-horizontal">
            <span class="bold">Alignment:</span> {{powerCenter.alignment.name}}
          </div>
        </div>




        <!-- DELETE ME -->
        <div class="layout-margin-top layout-padding-well border-all-1"
            md-colors="{'border-color': 'background-500', 'background-color': 'background-50'}">
          <div ng-repeat="mixItem in settlement.racialMix.mix track by $index" layout="column" layout-align="start stretch">

            <div layout="row" layout-align="start center">
              <div class="layout-margin-right">
                <span class="bold">Percentage of Total:</span> {{mixItem.weight.custom}}%
              </div>
              <div class="layout-margin-horizontal" ng-if="mixItem.raceId">
                <span ng-repeat="race in vm.localData.raceSelection | filter: {id: mixItem.raceId}"><span class="bold">Race Name:</span> {{race.name}}</span>
              </div>
              <div class="layout-margin-horizontal" ng-if="!mixItem.raceId">
                <span class="bold">Race:</span> {{mixItem.name}}
              </div>
            </div>

            <div class=" layout-margin-left layout-padding-left" layout="column" layout-align="start stretch" ng-if="mixItem.races">
              <div layout="row" layout-align="start center" ng-repeat="item in mixItem.races track by $index">
                <div class="layout-margin-horizontal">
                  <span class="bold">Percentage of 'Other':</span> {{item.weight.custom}}%
                </div>
                <div class="layout-margin-horizontal">
                  <span ng-repeat="race in vm.localData.raceSelection | filter: {id: item.raceId}"><span class="bold">Race Name:</span> {{race.name}}</span>
                </div>
              </div>
            </div>

          </div>
        </div>



      </div>
    </div>

    <!--<div class="border-top-1 layout-margin-top layout-padding-top" layout="column" layout-align="start stretch">-->
      <!--<pre class="border-all-1 layout-padding-well no-margin-bottom layout-margin-top"-->
           <!--md-colors="{'background-color': 'amber-50', 'border-color': 'amber-500'}">{{vm.settlement | json}}</pre>-->
    <!--</div>-->

  </section>


  <section id="sidebar" class="layout-padding-well border-left-1" md-colors="{'border-color': 'background-300'}" flex="25">
    <h3>Settings:</h3>
    <!-- <div class="layout-margin-top layout-padding-vertical hint border-bottom-1" md-colors="{'border-color': 'background-300'}"> -->
      <!--Opening any setting will reset the generator.-->
    <!--</div>-->
    <div class="layout-padding-4" layout="row" layout-wrap>
      <!--<div class="layout-padding-4" flex="100" layout="column" layout-align="start stretch">-->
        <!--<md-button class="md-raised md-primary no-margin" ng-click="vm.openSettingsSidebar('globalSettings')">global settings</md-button>-->
      <!--</div>-->
      <div class="layout-padding-4" flex="100" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSettingsSidebar('tagSettings')">
          tag settings
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSettingsSidebar('settlementSettings')">
          settlement
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <!--<md-button class="md-raised md-primary no-margin" ng-click="vm.openSettingsSidebar('powerCenterSettings',-->
            <!--{action: 'populateTagFilter', tagType: 'powerCenterType'})">-->
          <!--power ctr-->
        <!--</md-button>-->
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSettingsSidebar('powerCenterSettings')">
          power ctr
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSettingsSidebar('authoritySettings')">
          authorities
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSettingsSidebar('raceSettings',
            {action: 'populateTagFilter', tagType: 'source'})">
          races
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSettingsSidebar('alignmentSettings')">
          alignment
        </md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch">
        <md-button class="md-raised md-primary no-margin" ng-click="vm.openSettingsSidebar('racialMixSettings')">
          racial mix
        </md-button>
      </div>
    </div>

    <div class="layout-padding-4 border-top-1" layout="row" layout-wrap md-colors="{'border-color': 'background-300'}">
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="true">
        <md-button class="md-raised md-accent no-margin" ng-click="vm.openSettingsSidebar('subraceSettings',
            {action: 'populateTagFilter', tagType: 'source'})">subraces</md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="true">
        <md-button class="md-raised md-accent no-margin" ng-click="vm.openSettingsSidebar('ageSettings')">age</md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="true">
        <md-button class="md-raised md-accent no-margin" ng-click="vm.openSettingsSidebar('climateSettings')">climate</md-button>
      </div>
      <div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="true">
        <md-button class="md-raised md-accent no-margin" ng-click="vm.openSettingsSidebar('terrainSettings')">terrain</md-button>
      </div>
      <!--<div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="vm.appConfigSettings.global.useSocialClass">-->
        <!--<md-button class="md-raised md-accent no-margin" ng-click="vm.openSettingsSidebar('socialClassSettings', {-->
        <!--action: 'populateEditArray', object: vm.socialClassSelection})">social cls</md-button>-->
      <!--</div>-->
      <!--<div class="layout-padding-4" flex="50" layout="column" layout-align="start stretch" ng-if="vm.appConfigSettings.global.useProfessions">-->
        <!--<md-button class="md-raised md-accent no-margin" ng-click="vm.openSettingsSidebar('professionSettings', {-->
        <!--action: 'populateEditArray', object: vm.professionSelection})">professions</md-button>-->
      <!--</div>-->
    </div>


  </section>
</div>
