<div id="city-builder" layout="column">
  <div layout="row" layout-align="start center">
    <md-select class="layout-margin-horizontal layout-padding-horizontal no-margin-vertical" ng-model="vm.selectedSize"
        placeholder="settlement" ng-change="vm.updateSettlement()">
      <md-option ng-repeat="settlement in vm.settlementSelection" ng-value="settlement.size">{{settlement.size}}</md-option>
    </md-select>

    <md-select class="layout-margin-horizontal layout-padding-horizontal no-margin-vertical" ng-model="vm.selectedMix"
               placeholder="Mix" ng-change="vm.updateSettlement()">
      <md-option ng-repeat="mix in vm.racialMixSelection" ng-value="mix.type">{{mix.type}}</md-option>
    </md-select>

    <div class="layout-margin-horizontal layout-padding-horizontal">
      <md-button class="md-raised md-primary" ng-click="vm.updateComponent()">Refresh</md-button>
    </div>
  </div>

  <div class="layout-margin-top layout-padding-top" layout="row" layout-align="start center">
    <div class="layout-margin-horizontal layout-padding-horizontal">Type: {{vm.settlement.size}}</div>
    <div class="layout-margin-horizontal layout-padding-horizontal">Population: {{vm.settlement.population}}</div>
    <div class="layout-margin-horizontal layout-padding-horizontal">GP Limit: {{vm.settlement.gpLimit}}</div>
    <div class="layout-margin-horizontal layout-padding-horizontal">Ready Cash: {{vm.settlement.readyCash}}</div>
  </div>

  <div class="layout-margin-top layout-padding-top" layout="row" layout-align="start center">
    <div class="layout-margin-horizontal layout-padding-horizontal">Guards/Soldiers: {{vm.settlement.military}}</div>
    <div class="layout-margin-horizontal layout-padding-horizontal">Militia: {{vm.settlement.militia}}</div>
  </div>

  <div class="layout-margin-top layout-padding-top" layout="row" layout-align="start start">
    <div layout="column">
      <div class="layout-margin-horizontal layout-padding-horizontal">Racial Demographics:</div>
      <ul>
        <li ng-repeat="race in vm.settlement.racialDemographics track by $index" layout="column">
          <div layout="row" layout-align="space-between center">
            <span>{{race.name}}: {{race.population}} Adult<span ng-if="race.population !== 1">s</span></span>
            <span>({{race.actualPercentage}}%)</span>
          </div>
          <ul>
            <li ng-repeat="age in race.ageCategories track by $index" ng-if="age.population > 0">
              <div layout="row" layout-align="space-between center">
                <span>{{age.age}}: {{age.population}}</span>
                <span ng-if="age.age !== 'Children'">({{age.percentage}}%)</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div layout="column">
      <div class="layout-margin-horizontal layout-padding-horizontal">Power Centers:</div>
      <ul>
        <li ng-repeat="powerCenter in vm.settlement.powerCenters track by $index">
          <div>{{powerCenter.type}} ({{powerCenter.alignment}})</div>
        </li>
      </ul>
    </div>
  </div>

</div>