<md-content>
  <div layout="column">

    <!-- TODO: Update Authority Figure to allow multiple, as well as specific roles. Different types tend to have -->
    <!-- TODO: different levels of authority. There may be a captain of the guard in charge of city defenses in a   -->
    <!-- TODO: larger city as well as one or more district chiefs in a large metropolis, or only one local  -->
    <!-- TODO: constable/sheriff/guard captain in a tiny town. -->

    <!-- TODO: Calculate Guards/Militia Here -->

    <!-- Header -->
    <section class="layout-padding-well border-bottom-1" layout="column" layout-align="start stretch"
             md-colors="{'border-color': 'background-300'}">
      <h3>Authority Figure Settings</h3>
      <div class="hint layout-margin-top">
        <ul class="no-margin no-padding">
          <li layout="row" layout-align="start start">
            <i class="material-icons">chevron_right</i>
            <span class="hint">Add, edit, or remove a potential authority figure from the settlement.</span>
          </li>
          <li layout="row" layout-align="start start">
            <i class="material-icons">chevron_right</i>
            <span class="hint">This might be the constable, captain of the town guard, sheriff, or any other
              authority figure in charge of security/upholding laws.</span>
          </li>
          <li layout="row" layout-align="start start">
            <i class="material-icons">chevron_right</i>
            <span class="hint">TODO: Add Those ^ ;).</span>
          </li>
        </ul>
      </div>
    </section>

    <!-- Authority Figure Settings -->
    <section class="layout-padding-well border-bottom-1" layout="column" layout-align="start stretch"
        md-colors="{'border-color': 'background-300'}">
      <div class="layout-margin-bottom layout-padding-bottom hint border-bottom-1" layout="column"
           md-colors="{'border-color': 'background-300'}">
        <div class="hint">
          The settlement's primary authority figure will be selected randomly from this list.
        </div>
        <div class="hint layout-margin-top">
          This list uses weighted values. This means that when generating a random item, there is a higher chance for
          certain items to appear, based on weight. The higher the weight, the higher the chance that the given item
          is chosen.
        </div>
      </div>

      <!-- Edit Authority Figures -->
      <ul class="no-margin no-padding">
        <li class="no-padding layout-margin-bottom" ng-repeat="authority in vm.editArray track by $index"
            layout="column" layout-align="start stretch">
          <dg-object-edit object="authority" group="vm.authoritySelection" parent="null"
              edit-types="['input', 'weight-row-delete', 'weight', 'weight-custom']"
              on-delete="vm.deleteCustomObject(authority, null, false)"
              on-add-weight="vm.updateObjectWeight(vm.editArray, authority, 1, 'custom', false)"
              on-remove-weight="vm.updateObjectWeight(vm.editArray, authority, -1, 'custom', false)"></dg-object-edit>
        </li>
        <li class="no-padding">
          <div layout="column" layout-align="start stretch">
            <md-button class="md-raised md-primary no-margin" ng-click="vm.updateCustomArray('authority', vm.editArray, false)"
                       ng-disabled="vm.checkForButtonDisabled(vm.editArray, 'name', '', {'matchType': 'exact'})">
              save all changes
            </md-button>
          </div>
        </li>
      </ul>
    </section>

    <!-- Add Authority -->
    <section class="layout-padding-well">
      <div layout="column" layout-align="start stretch">
        <h4>Add New Authority:</h4>
        <div class="layout-margin-vertical layout-padding-vertical hint border-bottom-1"
             md-colors="{'border-color': 'background-300'}">
          Here you can add a new custom authority and set whether the authority is allowed in the current settlement.
        </div>
        <dg-object-edit class="layout-margin-vertical" object="vm.newObject" group="vm.editArray" parent="null"
                        default-text="Enter Authority Name..." edit-types="['input']" hide-frame="true">
        </dg-object-edit>
        <md-button class="md-raised md-primary no-margin-horizontal no-margin-bottom" ng-click="vm.addCustomAuthority()"
                   ng-disabled="vm.newObject.name === ''">submit new authority</md-button>
      </div>
    </section>

  </div>
</md-content>
