<md-content>
  <div layout="column">

    <!-- Header -->
    <section class="layout-padding-well border-bottom-1" layout="column" layout-align="start stretch"
             md-colors="{'border-color': 'background-300'}">
      <h3>Racial Mixture Settings</h3>
      <div class="hint layout-margin-top">
        <ul class="no-margin no-padding">
          <li layout="row" layout-align="start start">
            <i class="material-icons">chevron_right</i>
            <span class="hint">Add, edit, or remove a racial mixture in the generator.</span>
          </li>
        </ul>
      </div>
    </section>

  </div>
</md-content>
