<md-content>
  <div layout="column"  layout-align="start stretch">

    <!-- Header -->
    <section class="layout-padding-well border-bottom-1" layout="column" layout-align="start stretch"
        md-colors="{'border-color': 'background-300'}">
      <h3>Climate Settings</h3>
      <div class="hint layout-margin-top">
        <ul class="no-margin no-padding">
          <li layout="row" layout-align="start start">
            <i class="material-icons">chevron_right</i>
            <span class="hint">View list of climates.</span>
          </li>
        </ul>
      </div>
    </section>

    <!-- Climate Selection -->
    <section class="layout-padding-well border-bottom-1" layout="column" layout-align="start stretch"
        md-colors="{'border-color': 'background-300'}">

      <div class="layout-margin-4 layout-padding-4 no-padding-vertical border-all-1" 
          layout="column" layout-align="start stretch"
           md-colors="{'border-color': 'background-300', 'background-color': 'background-50'}"
           ng-repeat="climate in vm.localData.climateSelection">
        {{climate.name}}
      </div>

    </section>

  </div>
</md-content>
